<form [formGroup]="filtros">
  <mat-form-field appearance="fill">
    <mat-label>Ordenar Por</mat-label>
    <mat-select formControlName="orderby">
      <mat-option value="added_at">Fecha</mat-option>
      <mat-option value="popularity">Popularidad</mat-option>
      <mat-option value="duration">Duración</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Orden</mat-label>
    <mat-select formControlName="descending">
      <mat-option value="yes">Descendiente</mat-option>
      <mat-option value="no">Ascendiente</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Items</mat-label>
      <mat-select formControlName="items">
        <mat-option value="10">10</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="50">50</mat-option>
        <mat-option value="100">100</mat-option>
      </mat-select>
  </mat-form-field>
</form>

<app-song [datax]="info" *ngFor="let info of photo | sortBy: order_by | order: descending"></app-song>
<!-- <app-song [datax]="info" *ngFor="let info of photo | order: descending"></app-song> -->